# temp codes
/temp/

/data/
/outputs/
/API-documentation/

# general things to ignore
build/
dist/
*.egg-info/
*.egg
*.py[cod]
__pycache__/
*.so
*~
venv/

# due to using nox and pytest
.nox
.cache

# others
.DS_Store
